
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* no change */
}

body {
  font-family: "Poppins", sans-serif;  /* changed */
  -webkit-font-smoothing: antialiased; /* unchanged */
  -moz-osx-font-smoothing: grayscale;  /* unchanged */
}
